body {
    padding: 0px;
    margin: 0px;
}
.top-menu {
    border-top: dotted 1px #99f;
    border-bottom: dotted 1px #99f;
    padding-left: 50px;
}
.tsk {
    border: dashed 1px #9af;
    padding: 10px;
    margin: 20px;
}